input[type="file"] {
    display: none;
}

.custom-file-upload {
    width: 300px;
    font-size: 24px;
    background: #0D0D0D;
    color: #FFFFFF;
    height: 60px;
    padding: 5px 20px;
    border: 2px solid #e3e3e3;
    margin-top: 20px;
}

.btn {
    width: 300px;
    font-size: 24px;
    background: #0D0D0D;
    color: #FFFFFF;
    height: 60px;
    padding: 5px 20px;
    border: 2px solid #e3e3e3;
    margin-top: 20px;
}