@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500&family=Wix+Madefor+Display:wght@500&display=swap');


* {
    font-size: 20px;
    font-family: 'Wix Madefor Display', sans-serif;
}

.barcenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000000D9;
    height: 100px;
    color: white;
}


.backgr {
    max-height: 950px;
    background:url("./../img/Group 2 (1).png");
    /*background-image: url("./../img/image1.png");*/
}


.barul {
    width: 400px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
}


.sud {
    height: 95%;
    width: 96%;
    display: grid;
    /*grid-template-columns: repeat(7, 1fr);*/
    /*grid-template-columns: repeat(4, 1fr);*/
    /*grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));*/
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    background: #ffffff;
}

.dis {

    display: none;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 725px;
    border: 1px solid #000;

}

.sud button {
    padding: 0px;
    width: 100%;
    height: 100%;
    color: #000000;
    border: 1px solid rgba(30, 30, 30, 0.75);
}

.sud button:hover {
    background: #e7e7e7;
}


.btnselected {
    background: #0FC65C;
    pointer-events: none;

}

.btnunselected {
    background: #ffffff;
}

.bronir {
    width: 300px;
    font-size: 24px;
    background: #0D0D0D;
    color: #FFFFFF;
    height: 70px;
    padding: 10px 20px;
    border: 2px solid #e3e3e3;
    margin: 30px;
}

.sendData {
    display: none;
    font-size: 24px;
    background: #0D0D0D;
    float: right;
    color: #FFFFFF;
    padding: 10px 40px;
    margin-top: 20px;
    border: 2px solid #e3e3e3;
}

button p {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.pframestudiobtn{
    margin-top: 250px;
    margin-left: 15%;
}

.pframestudiobtn h1{
    color: #FFFFFF;
    font-size: 40px;
}

.pframestudiobtn button{
    padding: 10px 50px;
    font-size: 30px;
    background: rgba(35, 35, 35, 0.45);
    border: 1px solid black;
    box-shadow: inset 0 0 0 0 rgb(232, 232, 232);
    color: #f8f8f8;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.pframestudiobtn button:hover{
    box-shadow: inset 300px 0 0 0 rgb(232, 232, 232);
    color: #000000;
    /*background: rgba(162, 162, 162, 0.45);*/
}


.aboutusHome{
    margin:120px 15%;
}

.aboutusHome p, h1{
    font-size: 25px;
    text-align:justify;
}

.miyag{
    margin-top: 50px;
    position: relative;
    height: 1027px;
    background-size: cover;
    background: url("./../img/image 2 (1).png");
    background-repeat:no-repeat;
}

.barbutton{
    position: absolute;
    bottom: 0; /* Прилипнет к нижней рамке родителя (если у последнего будет position) */
    color: #FFFFFF;
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 150px;
    width: 100%;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.82);
}

ul a{
    text-decoration: none;
    color: #FFFFFF;
}

.login{
    background: none;
    border: none;
}



